<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.centralway.directionsdemo"
        versionCode="10" 
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>DirectionsDemo</name>            
    <description>
        A demo app featuring Google Directions API and Google Maps
    </description>
    <author href="http://www.centralway.com" email="">
        Martin Naumann
    </author>
</widget>